#WeatherPage {
     /* background-image: url('../../public/backgroundImages/sky-background.jpg');  */
    color: white;
}

#WeatherPage .weather-box {
    border: 1px solid black;
}

/* .weather-box:first {
    background-color: red;
} */

.weather-icon {
    font-size: 50px;
}